{{#each this}}
<li class="film-list-li">
    <a href="#" class="movie-link" data-id="{{id}}">
        <div class="film-list-block-img">
            <img class="film-list-img" src="https://image.tmdb.org/t/p/w300/{{poster_path}}" alt="{{name}}{{title}} ">
        </div>
        <div class="film-list-movie-description">
            <h3 class="film-list-movie-title">{{upper title}}{{upper name}}</h3>
            <p class="film-list-movie-genre">{{genre_ids}} | {{release_date}}</p>
        </div>
        
    </a>
</li>
{{/each}}