{{#each this}}
<li class="film-list-li">
    <a href="#" class="movie-link" data-id="{{id}}">
        <div class="film-list-block-img" data-id="{{id}}">
            <img class="film-list-img" src="{{poster_path}}" alt="{{name}}{{title}}" data-id="{{id}}">
        </div>

         <div data-open="film" data-id="{{id}}" class="show-movie-card-buttons">
            <button class="button movie-card-btn" data-id="{{id}}" data-watched="queue">add to watched</button>
            <button class="button movie-card-btn" data-id="{{id}}" data-queue="queue">add to queue</button>

        </div>
        <div class="film-list-movie-description" data-id="{{id}}">
            <h3 class="film-list-movie-title" data-id="{{id}}">{{upper title}}{{upper name}} </h3>
            <p class="film-list-movie-genre" data-id="{{id}}">{{genre_ids}} | {{release_date}} </p>
        </div>
        <h5></h5>
    </a>
</li>
{{/each}}