{{#each this}}
<li>
    <a href="#">
        <img src="https://image.tmdb.org/t/p/w300/{{poster_path}}" alt="{{original_name}}{{original_title}}">
        <h2>{{original_title}}{{original_name}} {{first_air_date}}{{release_date}}</h2>
    </a>
</li>
{{/each}}