{{#each this}}
<li class="my-library__item">
    <img class="my-library__movie-poster" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="">
    <p class="my-library__movie-title">{{this.title}} {{this.name}}</br>
        <span class="my-library__movie-info">Drama, Action | {{this.first_air_date}} {{this.release_date}}</span>
        <span class="my-library__movie-rate">8.0</span>
    </p>
</li>
{{/each}}