<li class="film-list-li">
    <a href="#" class="movie-link" data-id="{{id}}">
        <div class="film-list-block-img">
            <img class="film-list-img" src="https://image.tmdb.org/t/p/w300/{{poster_path}}" width="100%" alt="{{title}}">
        </div>
        <div class="film-list-movie-description">
            <h3 class="film-list-movie-title">{{title}}</h3>
            <p class="film-list-movie-genre">{{release_date}}</p>
        </div>
    </a>    
</li>