{{#each this}}
{{!-- <article>
    <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{title}}{{name}} poster">
    <h2>{{title}}{{name}}</h2>
    <p><span>Vote/Votes </span><span> {{vote_average}}</span> / {{vote_count}}</p>
    <p><span>Popularity </span>{{popularity}}</p>
    <p><span>Original Title </span>{{original_title}}{{original_name}}</p>
    <p><span>Genre </span>{{genre}}</p>
    <p>ABOUT</p>
    <p></p>
</article> --}}
<div class="modal-section__thumb">
    <img class="modal-section__image" src="https://image.tmdb.org/t/p/w300{{poster_path}}"
        alt="{{title}}{{name}} poster" />
</div>
<div class="modal-section__meta">
    <h2 class="modal-meta__title">{{title}}{{name}}</h2>
    <div class="modal-meta__info">
        <ul class="modal-info__list">
            <li>Vote / Votes</li>
            <li>Popularity</li>
            <li>Original Title</li>
            <li>Genre</li>
        </ul>
        <ul class="modal-info__list">
            <li><span>{{vote_average}}</span>/<span>{{vote_count}}</span></li>
            <li>{{popularity}}</li>
            <li>{{original_title}}{{original_name}}</li>
            <li>{{genre_ids}}</li>
        </ul>
    </div>
    <h3 class="modal-meta__title description">About</h3>
    <p class="modal-meta__text">{{overview}}</p>
    <div class="modal-meta__btn-wrap">
        <button type="button">add to Watched</button>
        <button type="button">add to queue</button>
    </div>
</div>
{{/each}}